<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about h-card">
      <h1>
        <a class="p-name u-url" href="{{ site.url }}">
          {{ site.name }}
        </a>
      </h1>
      <p class="lead p-note">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% for item in site.data.navigation.items %}
        <a class="sidebar-nav-item{% if item.link == site.url %} active{% endif %}" href="{{ item.link }}">
          {{ item.name }}
        </a>
      {% endfor %}

      <div class="social-links">
        <a rel="feed" href="https://rodsilva.com/atom.xml" target="_blank" title="RSS Feed"><i class="fa-solid fa-square-rss"></i></a>
        <a rel="me" href="https://mastodon.com.br/@rodsilva" target="_blank" title="Mastodon"><i class="fa-brands fa-mastodon"></i></a>
        <a rel="me" href="https://github.com/rcsilva83" target="_blank" title="Twitter"><i class="fa-brands fa-github"></i></a>
        <a rel="me" href="https://soundcloud.com/rcsilva83" target="_blank" title="Soundcloud"><i class="fa-brands fa-soundcloud"></i></a>
      </div>
      <a href="https://www.fraternidadesemfronteiras.org.br/" target="_blank" title="Fraternidade sem Fronteiras"><img src="/images/fsf-logo-horizontal-25%25.jpg"></a>
    </nav>

  </div>
</div>
